@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap");

.label-under {
  position: relative;
  display: inline;
}

.label-under label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  width: 100%;
  text-align: center;
}

.label-under .input {
  width: 200px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #a0a0a0;
}

.first-line-margin::first-letter {
  margin-left: 40px;
}

.loader {
  border-top-color: #3498db !important;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

.loader-body {
  display: none !important;
}

.loader-body.show {
  display: flex !important;
}

div.class-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.class-container * div.img-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  background: linear-gradient(transparent, black);
  height: 100px;
  width: 100%;
  border-radius: 10px;
  z-index: 1;
}

div.news-container {
  display: flex;
  flex-direction: column;
}

div.img-container img {
  transition: 0.2s;
  cursor: pointer;
}

div.img-container:hover img {
  transform: scale(1.01);
}

div.img-container {
  position: relative;
  overflow: hidden;
}

a.remove-focus {
  outline: none;
  color: inherit;
}

.more-news:hover .img-label {
  text-decoration: underline;
}

.main-nav {
  z-index: 2;
}

.header {
  z-index: 3;
}

.landingpage-main-info {
  height: calc(100vh - 11rem);
}

.landingpage-background-img {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 5em;
  width: calc(50% - 7rem);
  height: calc(100% - 5rem);
  background-size: cover;
  background-position: center;
}

.view-more-btn:hover .view-more-icon {
  animation: bounce 0.6s linear infinite;
}

.social-links {
  transition: 0.3s all;
}

.social-links:hover {
  transform: translateY(0.1em, -0.2em) scale(1.05);
}

@-webkit-keyframes bounce {
  50% {
    margin-top: -15px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes bounce {
  50% {
    margin-top: -15px;
  }
  100% {
    margin-top: 0;
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

thead {
  display: table-row-group;
}

@page {
  size: legal;
  margin: 0.5in;
}

.custom-textarea {
  border-bottom: 1px solid #000 !important;
  margin-top: 3px;
  margin-bottom: 3px;
}

@media print {
  html,
  body {
    width: 215.9mm !important;
    height: 355.6mm !important;
    overflow: initial !important;
    padding-right: 5%;
    padding-left: 2.5%;
    padding-top: 2.5%;
  }
}
